.error {
  color:red;
  font-size: 0.90em;
  text-align: left;
  display: block;
}

.labelForm{
  font-weight: bold;
  font-size: 13px;
}

.welcomeFont{
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 35px;

color:orange;
}

input[type=checkbox]{
  vertical-align: left;
  position: relative;
  bottom: 1px;
  color: aqua;
}